<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background: url('/app/images/avatars/img.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
</body>
</html>